VoiceToViewServer/.settings/
VoiceToViewServer/build/
VoiceToViewServer/.classpath
VoiceToViewServer/bin/

VoiceToViewApp/.settings/
VoiceToViewApp/build/
VoiceToViewApp/.classpath
VoiceToViewApp/bin/

ReceiveByteBufferTestingServer/.settings/
ReceiveByteBufferTestingServer/build/
ReceiveByteBufferTestingServer/.classpath
ReceiveByteBufferTestingServer/bin/
